*{
    box-sizing: border-box;
    margin: 0 auto; 
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
::-webkit-scrollbar {  
    width: 15px; 
    background: rgb(243, 243, 243);
}
::-webkit-scrollbar-thumb{
    background-color: #a81a2c;
}
/*********************** Wichtige Klassen ***********************/
.wrapper{
    width: 80vw;
    margin: 0 auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}
.karten{
    padding: 15px 25px;
    margin-top: -5px;
    background-color: #ededed78;
}
.Geschichte-1, .Geschichte-2, .Geschichte-3, .Geschichte-4{
    margin-top: 15vh;
}
.Geschichte-2 .flex{
    margin-top: 5vh;
}
.top-15{
    margin-top: 15vh
}
/*COL-KLASSEN*/
.col-20, .col-30, .col-70, .col-80, .col-25, .col-50{
    display: inline-block;
}
.col-20{
    flex: 1 0 18%;
}
.col-80{
    flex: 1 0 78%;
}
.col-30{
    flex: 1 0 28%;
}
.col-70{
    flex: 1 0 65%;
}
.col-25{
    flex: 1 0 21%;
}
.col-50{
    flex: 1 0 48%;
}
/*********************Wichtige IDs*****************/
#Infos{
    margin-top: 10vh;
}
#Zweit-Navigation{
    width: 100%;
    background-color: #a81a2c;
}
#Navigation{
    padding: 5px 0;
    background-color: white;
    box-shadow: 0px 10px 13px -10px rgba(0,0,0,0.71);
    -webkit-box-shadow: 0px 10px 13px -10px rgba(0,0,0,0.71);
    -moz-box-shadow: 0px 10px 13px -10px rgba(0,0,0,0.71);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}
/******************BILDER*********************/
img{
    width: 100%;
}
header .col-20 img{
    width: 30%;
    float: left;
}
#Aktivitäten .col-30 img{
    width: 100%;
}
#murten{
    font-size: 1.5em;
    position: fixed;
    top: 3.5vh;
    left: 15vw;
}
/*********************SCHRIFT**************************/
h1{
    font-size: 3em;
    margin-top: 30vh;
    color: white;
}
h1 span{
    font-size: 2em;
    text-transform: uppercase;
}
h1 span, h2, h3, h4, h5{
    font-weight: bold !important;
}
h2{
    font-size: 2em !important;
    padding: 0 0 10px 0 !important;
    color: black !important;
    line-height: normal !important;
}
a{
    text-decoration: none;
    color: black;
}
.karten h3{
    text-align: center;
    padding: 10px 0 20px 0;
}
h2, h3, h4, h5{
    text-transform: uppercase !important;
}
h5{
    padding-bottom: 2vh;
    border-bottom: 1px solid black;
    font-size: 1.1em;
    margin-bottom: 4vh;
}
figcaption{
    font-size: 0.8em;
}
/**********************NAVIGATION ***********************/
nav{
    float: right;
}
nav ul{
    margin: 10px 0;
	list-style-type: none;
}
nav ul li{ 
	float: left;
	text-align: center;
    margin: 0 20px;
}
nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    float: left;
    transform: translate(0%, -30%);
    transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
 nav a::after {
    content: "";
    width: 0;
    border-bottom: 0.08em solid #a81a2c;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
 nav a:hover {
    color: #a81a2c;
    text-decoration: none;
  }
nav a:hover::after {
    width: 100%;
    border-bottom-color: #a81a2c;
  }
  #Navigation a{
    text-transform: uppercase;
  }
/*ZWEIT NAVIGATION*/
#Zweit-Navigation a{
    color: white;
}
#Zweit-Navigation li{
    padding: 15px 0 20px 0;
}
#Zweit-Navigation a::after, #Zweit-Navigation a:hover::after{
    border-bottom-color: white;
}
/***********************HEADER************************/
header #hintergrundsbild{
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
    top: 0;
    left: 0;
    filter: brightness(0.5) contrast(0.7);
}
header{
    text-align: center;
}
#Navigation .flex{
    align-items: center;
}
/*************************MAIN***************/
#index-main, #Aktivitäten{
    margin-top: 30vh;
}
main{
    background-color: white;
}
button{
    background-color: rgba(255,255,255,0);
    border: 1px solid black;
    padding: 10px 20px;
    margin: 2vh 0;
}
button:hover{
    background-color: #a81a2c;
    border-color: #a81a2c;
}
button:hover a{    
    color: white;
}
iframe{
    width: 100%;
    height: 100%;
}
/***************CAROUSEL *********************/
.carousel-container{
    margin-top: 20vh;
}
.carousel_items {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  .carousel_item {
    position: relative;
    min-width: 100%;
    height: 50vh;
    transition: all 1s linear;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .item1 {
    background-image: url("img/Murten1.jpg");
  }
  .item2 {
    background-image: url("img/Murten2.jpg");
  }
  .item3 {
    background-image: url("img/Murten3.jpg");
  }
  .item4 {
    background-image: url("img/Murten4.jpg");
  }
  .item5 {
    background-image: url("img/Murten5.jpg");
  }
  /*********************ZITAT********************/
  .zitat{
    background-color:#ededed;
    width: 99vw;
    margin-top: 20vh;
    text-align: center;
  }
  .zitat p span, figcaption{
   color: #a8a8a8;
   font-style: italic;
  }
  .zitat p{
    font-size: 1.5em;
    padding: 5vh 0;
  }
  .zitat p span{
    font-size: 0.6em;
   }
  /************FOOTER***********/
  footer{
    margin: 15vh 0 5vh 0;
  }
  footer .wrapper{
    border-top: 1px solid #a8a8a8;
    padding-top: 30px;
}
.back-to-top {
    display: none;
    width: 3%;
    position: fixed;
    right: 3vw;
    bottom: 5vh;
}
/*********************LIGHTBOX***************/
.uk-lightbox-toolbar h3{
    color: white;
}
.uk-lightbox-toolbar .wrapper{
    width: 60vw;
}
.uk-active .uk-lightbox-toolbar {
    background: rgba(0,0,0,0.7);
}
.uk-lightbox-toolbar button{
    border: 1px solid white;
}
.uk-lightbox-toolbar button a{
    color: white;
    text-decoration: none;
}
button:hover{
    border: 1px solid #a81a2c;
}
/***************LOADING*********************/
#gif{
    position: absolute;
    left: 45vw;
    width: 10%;
    top: 52vh;
}
#klein{
    top: 28vh;
    position: absolute;
    left: 48vw;
    width: 5%;
}
.loading-container p{
    text-transform: uppercase;
    color: rgb(57, 57, 57);
    text-align: center;
    margin-top: 44vh;
    font-size: 1.5em;
    z-index: 2;
    position: relative;
}
.loading-container h2{
    text-align: center;
    top: 40vh;
    position: relative;
    font-size: 3em !important;
}